<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<!-- Styles-->
<link rel="stylesheet" href="css/style.css" type="text/css" />

<link rel="stylesheet" href="bootstrap/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.css" type="text/css" />

<!-- Javascript-->
<script src="bootstrap/js/bootstrap.min.js"></script>



</head>

<body>
<div class="wrapper">
	<div class="container-fluid main-page header">
  	<div class="navbar">
	    <div class="navbar-inner">
	      <div class="container">
	        <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </a>
	        <a href="#" class="brand"><img src="images/logo.png" /></a>
	        <div class="nav-collapse">
	          <ul class="nav">
	            <li class="active"><a href="#">Designers</a></li>
	            <li><a href="#">Wardrobes</a></li>
	            <li><a href="#">Competition</a></li>
	          </ul>
	          <ul class="nav pull-right">
            	<li class="divider-vertical"></li>
	            <li><a class="sign_in" href="#">SIGN IN</a></li>
	            <li class="divider-vertical"></li>
	            <li><a href="#">SIGN UP</a></li>
	          </ul>
	        </div><!-- /.nav-collapse -->
	      </div>
	    </div><!-- /navbar-inner -->
  </div>
  
	</div><!-- /container-fluid header-->
  <div class="clear"></div>
  <div class="container-fluid main-page mainContent">
  	<div class="container">
    <div class="social_butt">
  		<img src="images/social_butt.png" />
 		</div> 
	  	<div class="imgBox">
	    	<img class="main-fon" src="images/big_img.png" />
        <div class="designer_info">
        	<div class="photo">
          	<img src="images/designer_img.png" />
          </div>
          <div class="textBlock">
          	<div class="blocTitle">DESIGNER OF THE WEEK</div>
            <div class="designerName">Christine Lagerfield</div>
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Lorem ipsum dolor sit ... </div>
            <a class="view" href="#">VIEW COLLECTION</a>
          </div>
        </div>
	    </div>
    </div><!-- /container-->
  </div><!-- /mainContent-->
  <div class="container-fluid slogan">
  	Mondei is a fashion marketplace where independent fashion designers meet with fashionistas.
  </div><!-- /slogan-->
  <div class="container-fluid footer_wraper">
    <div class="container footer">
    			<ul class="footer-menu">
          	<li><a href="#">About</a></li>
            <li><a href="#">Contacts</a></li>
          </ul>
          <span class="copy">Copyright 2012 MONDEI. All Rights Reserved.</span>
    </div>
   </div><!-- /footer_wraper-->
</div><!-- /wrapper-->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap-dropdown.js"></script>
<script src="bootstrap/js/bootstrap-collapse.js"></script>
<script type="text/javascript">
	$('.dropdown-toggle').dropdown()
</script>
<script type="text/javascript">
   $(".collapse").collapse()
</script>



</body>
</html>
