body > .container{
    margin-top: 20px;
}

select, input[type="text"]{
    cursor: pointer;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 4px 6px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 14px;
    color: #555;
    height: 30px;
    line-height: 30px;
    width: 220px;
    background-color: #FFF;
    border: 1px solid #CCC;
    vertical-align: middle;
    display: inline-block;
    -webkit-box-shadow: inset 0 0 10px 1px #F2F2F2;
    box-shadow: inset 0 0 10px 1px #F2F2F2;
    margin: 0;
}



body > .container > .thumbnail > .nav {
    margin-bottom: 20px;
}

.model-user-groups .modal-dialog{
    width: 260px;
}


.modal-body{
    padding: 10px;
}

.modal-footer{
    padding: 5px;
    margin: 0px;
}

.modal-body .alert{
    margin-bottom: 5px;
    padding: 5px;
}

.w-50{ width: 50px; }
.l-10{ margin-left: 10px !important;}

tr td{
    line-height: 30px !important;
}

.accordion .panel-body .form-group input{
    float: right;
    width: 350px;
}

.accordion .panel-body .form-group label{
    margin-top: 5px;
}

.accordion .panel-body .form-group{
    margin: 5px;
}

.accordion .panel-body{
    padding: 5px;
}