<?xml version='1.0'?>
<configdata>
	<routes>

		<home>
			<route>home</route>
			<defaults module="default" controller="index" action="index" />
		</home>
        
        <reset-password>
            <route>set-new-password/:code</route>
            <defaults module="user" controller="auth" action="set-new-password" />
        </reset-password>
        
        <request-password-reset>
            <route>password-reset/</route>
            <defaults module="user" controller="auth" action="request-password-reset" />
        </request-password-reset>        
        
        <login>
            <route>login</route>
            <defaults module="user" controller="auth" action="index" />
        </login>

        <logout>
            <route>logout</route>
            <defaults module="user" controller="auth" action="logout" />
        </logout>

        <sign-in>
            <route>sign-in</route>
            <defaults module="user" controller="auth" action="index" />
        </sign-in>

        <meal_view>
            <route>/meal/:meal_id</route>
            <defaults module="meals" controller="index" action="view" />
        </meal_view>

        <meal_edit>
            <route>/meal/:meal_id/edit</route>
            <defaults module="meals" controller="index" action="edit" />
        </meal_edit>

        <meal_delete>
            <route>/meal/:meal_id/delete</route>
            <defaults module="meals" controller="index" action="delete" />
        </meal_delete>

        <meal_new>
            <route>/meal/new</route>
            <defaults module="meals" controller="index" action="new" />
        </meal_new>
		
		<faq>
            <route>/faq</route>
            <defaults module="default" controller="index" action="faq" />
        </faq>
		
		<contacts>
            <route>/contacts</route>
            <defaults module="default" controller="index" action="contacts" />
        </contacts>
		
		<terms>
            <route>/terms</route>
            <defaults module="default" controller="index" action="terms" />
        </terms>
		
		<privacy>
            <route>/privacy</route>
            <defaults module="default" controller="index" action="privacy" />
        </privacy>
		
		<aboutus>
            <route>/aboutus</route>
            <defaults module="default" controller="index" action="aboutus" />
        </aboutus>

        <reservation_add>
            <route>meal/reservation</route>
            <defaults module="meals" controller="reservation" action="index" />
        </reservation_add>

        <reservation_list>
            <route>reservations</route>
            <defaults module="reservations" controller="cook" action="index" />
        </reservation_list>

        <i_am_guest_list>
            <route>i-guest</route>
            <defaults module="reservations" controller="guest" action="index" />
        </i_am_guest_list>
        
        <social-auth>
            <route>social-auth/:provider</route>
            <defaults module="user" controller="social" action="auth" />
        </social-auth>        
		
		<dialogue_view>
            <route>messages/dialogue/:dialogue_id</route>
            <defaults module="messages" controller="index" action="view" />
        </dialogue_view>

        <catalog>
            <route>meals/catalog</route>
            <defaults module="meals" controller="catalog" action="index" />
        </catalog>

        <cook_view>
            <route>cook/:user_id</route>
            <defaults module="user" controller="view" action="index" />
        </cook_view>

        <cook_view_edit>
            <route>cook/edit/:user_id</route>
            <defaults module="user" controller="view" action="gallery" />
        </cook_view_edit>

        <profile_edit>
            <route>profile</route>
            <defaults module="user" controller="profile" action="index" />
        </profile_edit>

        <view_address>
            <route>map/:address_id</route>
            <defaults module="default" controller="index" action="map" />
        </view_address>
	</routes>
</configdata>